In [19]:
import requests
import pandas as pd
import datetime
import os

ruta_carpeta = 'D:\Desktop\python\proyecto-alegra'
nombre_archivo = 'facturas.csv'
archivos_en_carpeta = os.listdir(ruta_carpeta)


if nombre_archivo in archivos_en_carpeta:
    df2 = pd.read_csv('facturas.csv')
    inicio = df2.iloc[-1]['id']
else:
    ##en esta celda se pide se ingrese una fecha desde la que se quiere tener las facturas
    
    fecha_inicial = input("ingrese la fecha desde la que quiere las facturas en formato yyyy-mm-dd ")
    url = f"https://api.alegra.com/api/v1/invoices?order_direction=ASC&date_afterOrNow={fecha_inicial}"

    headers = {
        "accept": "application/json",
        "authorization": "Basic bmFub3Ryb25pY3NhbHNvbmRlbGF0ZWNub2xvZ2lhQGdtYWlsLmNvbTphMmM4OTA3YjE1M2VmYTc0ODE5ZA=="
    }

    response = requests.get(url, headers=headers)
    df2 = pd.DataFrame.from_dict(response.json())
    inicio = df2.iloc[0]['id']

In [20]:
df2.head()

,id,date,dueDate,datetime,observations,anotation,termsConditions,status,client,numberTemplate,...,type,operationType,paymentMethod,barCodeContent,seller,priceList,payments,items,costCenter,printingTemplate
0,1516,2023-01-02,2023-01-02,2023-01-02 19:49:29,None,,,closed,"{'id': '5', 'name': 'Consumidor final', 'ident...","{'id': '1', 'prefix': None, 'number': '1474', ...",...,NATIONAL,STANDARD,CASH,NumFac: 1474\nFecFac: 20230102000000\nHorFac: ...,"{'id': '1', 'name': 'FABIAN', 'identification'...",None,"[{'id': '1761', 'prefix': None, 'number': '154...","[{'name': 'REPUESTO', 'description': None, 'pr...",None,"{'id': '1', 'name': 'Clásico', 'pageSize': 'le..."
1,1515,2023-01-02,2023-01-02,2023-01-02 19:46:32,None,,,closed,"{'id': '5', 'name': 'Consumidor final', 'ident...","{'id': '1', 'prefix': None, 'number': '1473', ...",...,NATIONAL,STANDARD,CASH,NumFac: 1473\nFecFac: 20230102000000\nHorFac: ...,"{'id': '1', 'name': 'FABIAN', 'identification'...",None,"[{'id': '1760', 'prefix': None, 'number': '154...","[{'name': 'CABLE 2X1 5 METROS', 'description'...",None,"{'id': '1', 'name': 'Clásico', 'pageSize': 'le..."
2,1514,2023-01-02,2023-01-02,2023-01-02 19:27:25,None,,,closed,"{'id': '5', 'name': 'Consumidor final', 'ident...","{'id': '1', 'prefix': None, 'number': '1472', ...",...,NATIONAL,STANDARD,CASH,NumFac: 1472\nFecFac: 20230102000000\nHorFac: ...,"{'id': '1', 'name': 'FABIAN', 'identification'...",None,"[{'id': '1759', 'prefix': None, 'number': '154...","[{'name': 'PILA ALCALINA PANASONIC AA ', 'desc...",None,"{'id': '1', 'name': 'Clásico', 'pageSize': 'le..."
3,1513,2023-01-02,2023-01-02,2023-01-02 19:22:36,None,,,closed,"{'id': '5', 'name': 'Consumidor final', 'ident...","{'id': '1', 'prefix': None, 'number': '1471', ...",...,NATIONAL,STANDARD,CASH,NumFac: 1471\nFecFac: 20230102000000\nHorFac: ...,"{'id': '1', 'name': 'FABIAN', 'identification'...",None,"[{'id': '1758', 'prefix': None, 'number': '154...","[{'name': 'CABLE GRABADORA ', 'description': N...",None,"{'id': '1', 'name': 'Clásico', 'pageSize': 'le..."
4,1512,2023-01-02,2023-01-02,2023-01-02 19:02:38,None,,,closed,"{'id': '5', 'name': 'Consumidor final', 'ident...","{'id': '1', 'prefix': None, 'number': '1470', ...",...,NATIONAL,STANDARD,CASH,NumFac: 1470\nFecFac: 20230102000000\nHorFac: ...,"{'id': '2', 'name': 'DANIELA', 'identification...",None,"[{'id': '1757', 'prefix': None, 'number': '154...",[{'name': 'DISCO ESTADO SOLIDO KINGSTON 480GB'...,None,"{'id': '1', 'name': 'Clásico', 'pageSize': 'le..."

In [21]:

##en df2 ya tenemos cargada la primera factura de esa fecha que se encuentra en la variable inicio

current_date = datetime.date.today()

# Calculate the date of yesterday
yesterday = current_date - datetime.timedelta(days=3)

url2 = f"https://api.alegra.com/api/v1/invoices?date_afterOrNow={yesterday}"

headers2 = {
    "accept": "application/json",
    "authorization": "Basic bmFub3Ryb25pY3NhbHNvbmRlbGF0ZWNub2xvZ2lhQGdtYWlsLmNvbTphMmM4OTA3YjE1M2VmYTc0ODE5ZA=="
}

response2 = requests.get(url2, headers=headers2)
df4 = pd.DataFrame.from_dict(response2.json())
##y aqui en la variable "final" esta la identificacion de ultima factura del día de ayer

final = int(df4.iloc[0]['id'])

In [22]:
print(inicio,final)

1516 27652

In [23]:
# ... existing code ...

# Preparamos una lista para acumular los DataFrames
dfs = []

for i in range(int(inicio), final, 30):
    url3 = f"https://api.alegra.com/api/v1/invoices?start={i}&order_direction=ASC&order_field=id"
    
    headers3 = {
        "accept": "application/json",
        "authorization": "Basic bmFub3Ryb25pY3NhbHNvbmRlbGF0ZWNub2xvZ2lhQGdtYWlsLmNvbTphMmM4OTA3YjE1M2VmYTc0ODE5ZA=="
    }

    response3 = requests.get(url3, headers=headers3)
    
    if response3.status_code == 200 and response3.text:
        data = response3.json()
        if data:  # Verificamos que haya datos
            dfs.append(pd.DataFrame(data))

# Concatenamos todos los DataFrames una sola vez al final
if dfs:
    df6 = pd.concat(dfs, ignore_index=True)
else:
    df6 = pd.DataFrame()  # DataFrame vacío si no hay datos

# ... existing code ...

In [24]:
df6.head(2)

,id,date,dueDate,datetime,observations,anotation,termsConditions,status,client,numberTemplate,...,seller,priceList,payments,items,costCenter,printingTemplate,paymentForm,stamp,retentions,station
0,1517,2023-01-03,2023-01-03,2023-01-03 10:06:40,None,,,closed,"{'id': '5', 'name': 'Consumidor final', 'ident...","{'id': '1', 'prefix': None, 'number': '1475', ...",...,"{'id': '2', 'name': 'DANIELA', 'identification...",None,"[{'id': '1762', 'prefix': None, 'number': '154...",[{'name': 'CABLE DE RED CAT6 5 MTS MTS-1042G-3...,None,"{'id': '1', 'name': 'Clásico', 'pageSize': 'le...",NaN,NaN,NaN,NaN
1,1518,2023-01-03,2023-01-03,2023-01-03 10:07:36,None,,,closed,"{'id': '5', 'name': 'Consumidor final', 'ident...","{'id': '1', 'prefix': None, 'number': '1476', ...",...,"{'id': '2', 'name': 'DANIELA', 'identification...",None,"[{'id': '1763', 'prefix': None, 'number': '154...","[{'name': 'MEMORIA USB 16 GB DG', 'descriptio...",None,"{'id': '1', 'name': 'Clásico', 'pageSize': 'le...",NaN,NaN,NaN,NaN

In [25]:
df8 = df6.drop(columns=['observations','payments','subtotal','barCodeContent','total','numberTemplate','dueDate','stamp','warehouse','term','anotation','termsConditions','status','priceList','costCenter','paymentForm','type','discount','tax','balance','decimalPrecision','operationType','printingTemplate','station'])

In [26]:
df8

,id,date,datetime,client,totalPaid,paymentMethod,seller,items,retentions
0,1517,2023-01-03,2023-01-03 10:06:40,"{'id': '5', 'name': 'Consumidor final', 'ident...",12000,CASH,"{'id': '2', 'name': 'DANIELA', 'identification...",[{'name': 'CABLE DE RED CAT6 5 MTS MTS-1042G-3...,NaN
1,1518,2023-01-03,2023-01-03 10:07:36,"{'id': '5', 'name': 'Consumidor final', 'ident...",25000,CASH,"{'id': '2', 'name': 'DANIELA', 'identification...","[{'name': 'MEMORIA USB 16 GB DG', 'descriptio...",NaN
2,1519,2023-01-03,2023-01-03 10:22:53,"{'id': '87', 'name': 'PROACTIVA ESPECIALIZADA ...",140000,BANK_DEPOSIT,None,"[{'name': 'LECTOR CODIGO DE BARRAS ', 'descrip...",NaN
3,1520,2023-01-03,2023-01-03 10:47:31,"{'id': '5', 'name': 'Consumidor final', 'ident...",7000,CASH,"{'id': '1', 'name': 'FABIAN', 'identification'...",[{'name': 'ADAPTADOR DE CARGA SENCILLO K-BLES'...,NaN
4,1521,2023-01-03,2023-01-03 11:13:43,"{'id': '5', 'name': 'Consumidor final', 'ident...",48000,CASH,"{'id': '1', 'name': 'FABIAN', 'identification'...","[{'name': 'ADAPTADOR 12V 2A', 'description': N...",NaN
...,...,...,...,...,...,...,...,...,...
26131,27648,2025-05-25,2025-05-25 18:44:07,"{'id': '5', 'name': 'Consumidor final', 'ident...",119000,DEBIT_TRANSFER,"{'id': '2', 'name': 'DANIELA', 'identification...",[{'name': 'BATERIA PORTATIL 20000MAH 1HORA 20W...,NaN
26132,27649,2025-05-25,2025-05-25 18:45:15,"{'id': '5', 'name': 'Consumidor final', 'ident...",12000,CASH,"{'id': '2', 'name': 'DANIELA', 'identification...","[{'name': 'CABLE TIPO C MOVISUN Z63UC', 'descr...",NaN
26133,27650,2025-05-25,2025-05-25 19:01:49,"{'id': '5', 'name': 'Consumidor final', 'ident...",38000,CASH,"{'id': '3', 'name': 'JUAN PABLO', 'identificat...","[{'name': 'SISTEPAGOS', 'description': None, '...",NaN
26134,27651,2025-05-25,2025-05-25 19:04:41,"{'id': '5', 'name': 'Consumidor final', 'ident...",56000,CASH,"{'id': '3', 'name': 'JUAN PABLO', 'identificat...","[{'name': 'CEPILLO SECADOR ONE STEP', 'descrip...",NaN
26135,27652,2025-05-25,2025-05-25 19:10:42,"{'id': '5', 'name': 'Consumidor final', 'ident...",65000,DEBIT_TRANSFER,"{'id': '3', 'name': 'JUAN PABLO', 'identificat...","[{'name': 'DIADEMA KG-100 MOVISUN', 'descripti...",NaN

In [27]:
df8.head()

,id,date,datetime,client,totalPaid,paymentMethod,seller,items,retentions
0,1517,2023-01-03,2023-01-03 10:06:40,"{'id': '5', 'name': 'Consumidor final', 'ident...",12000,CASH,"{'id': '2', 'name': 'DANIELA', 'identification...",[{'name': 'CABLE DE RED CAT6 5 MTS MTS-1042G-3...,NaN
1,1518,2023-01-03,2023-01-03 10:07:36,"{'id': '5', 'name': 'Consumidor final', 'ident...",25000,CASH,"{'id': '2', 'name': 'DANIELA', 'identification...","[{'name': 'MEMORIA USB 16 GB DG', 'descriptio...",NaN
2,1519,2023-01-03,2023-01-03 10:22:53,"{'id': '87', 'name': 'PROACTIVA ESPECIALIZADA ...",140000,BANK_DEPOSIT,None,"[{'name': 'LECTOR CODIGO DE BARRAS ', 'descrip...",NaN
3,1520,2023-01-03,2023-01-03 10:47:31,"{'id': '5', 'name': 'Consumidor final', 'ident...",7000,CASH,"{'id': '1', 'name': 'FABIAN', 'identification'...",[{'name': 'ADAPTADOR DE CARGA SENCILLO K-BLES'...,NaN
4,1521,2023-01-03,2023-01-03 11:13:43,"{'id': '5', 'name': 'Consumidor final', 'ident...",48000,CASH,"{'id': '1', 'name': 'FABIAN', 'identification'...","[{'name': 'ADAPTADOR 12V 2A', 'description': N...",NaN

In [28]:
##solo dejamos en 'client' , 'seller' nombres y filtramos paymentMethod

def editar_factura(row):
    row['client'] = row['client']['name']
    if row['seller'] != None:
        row['seller'] = row['seller']['name']
    else:
        row['seller'] = 'No se ha registrado un vendedor'

    return row

    
df8=df8.apply(editar_factura, axis=1)
df8.head()

,id,date,datetime,client,totalPaid,paymentMethod,seller,items,retentions
0,1517,2023-01-03,2023-01-03 10:06:40,Consumidor final,12000,CASH,DANIELA,[{'name': 'CABLE DE RED CAT6 5 MTS MTS-1042G-3...,NaN
1,1518,2023-01-03,2023-01-03 10:07:36,Consumidor final,25000,CASH,DANIELA,"[{'name': 'MEMORIA USB 16 GB DG', 'descriptio...",NaN
2,1519,2023-01-03,2023-01-03 10:22:53,PROACTIVA ESPECIALIZADA S.A.S,140000,BANK_DEPOSIT,No se ha registrado un vendedor,"[{'name': 'LECTOR CODIGO DE BARRAS ', 'descrip...",NaN
3,1520,2023-01-03,2023-01-03 10:47:31,Consumidor final,7000,CASH,FABIAN,[{'name': 'ADAPTADOR DE CARGA SENCILLO K-BLES'...,NaN
4,1521,2023-01-03,2023-01-03 11:13:43,Consumidor final,48000,CASH,FABIAN,"[{'name': 'ADAPTADOR 12V 2A', 'description': N...",NaN

In [29]:
df8.tail(10)

,id,date,datetime,client,totalPaid,paymentMethod,seller,items,retentions
26126,27643,2025-05-25,2025-05-25 17:01:01,Consumidor final,79000,CASH,CAMILA,[{'name': 'REGULADOR DE VOLTAJE UNITEC U-1200'...,NaN
26127,27644,2025-05-25,2025-05-25 17:12:31,Consumidor final,49000,CASH,DANIELA,[{'name': 'AUDIFONOS BLUETOOTH TWS NEGRO AUT11...,NaN
26128,27645,2025-05-25,2025-05-25 17:14:48,Consumidor final,10000,CASH,JUAN PABLO,"[{'name': 'CONVERTIDOR DE TIPO C A USB 3.0', '...",NaN
26129,27646,2025-05-25,2025-05-25 18:12:14,Consumidor final,79000,DEBIT_CARD,DANIELA,[{'name': 'DIADEMA BLUETOOTH MOVISUN K20 GRIS'...,NaN
26130,27647,2025-05-25,2025-05-25 18:16:20,SOLOGEM S.A.S,249000,DEBIT_CARD,JUAN PABLO,"[{'name': 'PARLANTE NIA AN-2042', 'description...",NaN
26131,27648,2025-05-25,2025-05-25 18:44:07,Consumidor final,119000,DEBIT_TRANSFER,DANIELA,[{'name': 'BATERIA PORTATIL 20000MAH 1HORA 20W...,NaN
26132,27649,2025-05-25,2025-05-25 18:45:15,Consumidor final,12000,CASH,DANIELA,"[{'name': 'CABLE TIPO C MOVISUN Z63UC', 'descr...",NaN
26133,27650,2025-05-25,2025-05-25 19:01:49,Consumidor final,38000,CASH,JUAN PABLO,"[{'name': 'SISTEPAGOS', 'description': None, '...",NaN
26134,27651,2025-05-25,2025-05-25 19:04:41,Consumidor final,56000,CASH,JUAN PABLO,"[{'name': 'CEPILLO SECADOR ONE STEP', 'descrip...",NaN
26135,27652,2025-05-25,2025-05-25 19:10:42,Consumidor final,65000,DEBIT_TRANSFER,JUAN PABLO,"[{'name': 'DIADEMA KG-100 MOVISUN', 'descripti...",NaN

pendientes:
implementar los diccionarios como parte del dataframe

In [30]:
def eliminar_diccionario(row):
    for i in row['items']:
        del i['description']
        del i['discount']
        del i['productKey']
        del i['unit']
        del i['tax']
        del i['reference']
        del i['id']
    return row

df8=df8.apply(eliminar_diccionario, axis=1)
df8.head()

,id,date,datetime,client,totalPaid,paymentMethod,seller,items,retentions
0,1517,2023-01-03,2023-01-03 10:06:40,Consumidor final,12000,CASH,DANIELA,[{'name': 'CABLE DE RED CAT6 5 MTS MTS-1042G-3...,NaN
1,1518,2023-01-03,2023-01-03 10:07:36,Consumidor final,25000,CASH,DANIELA,"[{'name': 'MEMORIA USB 16 GB DG', 'price': 25...",NaN
2,1519,2023-01-03,2023-01-03 10:22:53,PROACTIVA ESPECIALIZADA S.A.S,140000,BANK_DEPOSIT,No se ha registrado un vendedor,"[{'name': 'LECTOR CODIGO DE BARRAS ', 'price':...",NaN
3,1520,2023-01-03,2023-01-03 10:47:31,Consumidor final,7000,CASH,FABIAN,[{'name': 'ADAPTADOR DE CARGA SENCILLO K-BLES'...,NaN
4,1521,2023-01-03,2023-01-03 11:13:43,Consumidor final,48000,CASH,FABIAN,"[{'name': 'ADAPTADOR 12V 2A', 'price': 12000, ...",NaN

In [31]:
df8

,id,date,datetime,client,totalPaid,paymentMethod,seller,items,retentions
0,1517,2023-01-03,2023-01-03 10:06:40,Consumidor final,12000,CASH,DANIELA,[{'name': 'CABLE DE RED CAT6 5 MTS MTS-1042G-3...,NaN
1,1518,2023-01-03,2023-01-03 10:07:36,Consumidor final,25000,CASH,DANIELA,"[{'name': 'MEMORIA USB 16 GB DG', 'price': 25...",NaN
2,1519,2023-01-03,2023-01-03 10:22:53,PROACTIVA ESPECIALIZADA S.A.S,140000,BANK_DEPOSIT,No se ha registrado un vendedor,"[{'name': 'LECTOR CODIGO DE BARRAS ', 'price':...",NaN
3,1520,2023-01-03,2023-01-03 10:47:31,Consumidor final,7000,CASH,FABIAN,[{'name': 'ADAPTADOR DE CARGA SENCILLO K-BLES'...,NaN
4,1521,2023-01-03,2023-01-03 11:13:43,Consumidor final,48000,CASH,FABIAN,"[{'name': 'ADAPTADOR 12V 2A', 'price': 12000, ...",NaN
...,...,...,...,...,...,...,...,...,...
26131,27648,2025-05-25,2025-05-25 18:44:07,Consumidor final,119000,DEBIT_TRANSFER,DANIELA,[{'name': 'BATERIA PORTATIL 20000MAH 1HORA 20W...,NaN
26132,27649,2025-05-25,2025-05-25 18:45:15,Consumidor final,12000,CASH,DANIELA,"[{'name': 'CABLE TIPO C MOVISUN Z63UC', 'price...",NaN
26133,27650,2025-05-25,2025-05-25 19:01:49,Consumidor final,38000,CASH,JUAN PABLO,"[{'name': 'SISTEPAGOS', 'price': 38000, 'quant...",NaN
26134,27651,2025-05-25,2025-05-25 19:04:41,Consumidor final,56000,CASH,JUAN PABLO,"[{'name': 'CEPILLO SECADOR ONE STEP', 'price':...",NaN
26135,27652,2025-05-25,2025-05-25 19:10:42,Consumidor final,65000,DEBIT_TRANSFER,JUAN PABLO,"[{'name': 'DIADEMA KG-100 MOVISUN', 'price': 6...",NaN

In [32]:
columnas = ['id', 'fecha','hora','nombre','precio','cantidad','total','cliente', 'totalfact','metodo','vendedor']
df9 = pd.DataFrame(columns=columnas)

for index, row in df8.iterrows():   
    for i in range(len(row['items'])):
        nueva_fila = {'id':row['id'],'fecha':row['date'],'hora':row['datetime']
                      ,'nombre':row['items'][i]['name'],'precio':row['items'][i]['price'],
                      'cantidad':row['items'][i]['quantity'],'total':row['items'][i]['total'],
                      'cliente':row['client'],'totalfact':row['totalPaid'],'metodo':row['paymentMethod'],'vendedor':row['seller']                      
                      } 
        a  = pd.DataFrame(nueva_fila,index=[0])
    
    # Añadir la fila transformada al DataFrame de destino
        df9 = pd.concat([df9,a])

In [33]:
df9.head()

,id,fecha,hora,nombre,precio,cantidad,total,cliente,totalfact,metodo,vendedor
0,1517,2023-01-03,2023-01-03 10:06:40,CABLE DE RED CAT6 5 MTS MTS-1042G-3,12000,1,12000,Consumidor final,12000,CASH,DANIELA
0,1518,2023-01-03,2023-01-03 10:07:36,MEMORIA USB 16 GB DG,25000,1,25000,Consumidor final,25000,CASH,DANIELA
0,1519,2023-01-03,2023-01-03 10:22:53,LECTOR CODIGO DE BARRAS,140000,1,140000,PROACTIVA ESPECIALIZADA S.A.S,140000,BANK_DEPOSIT,No se ha registrado un vendedor
0,1520,2023-01-03,2023-01-03 10:47:31,ADAPTADOR DE CARGA SENCILLO K-BLES,7000,1,7000,Consumidor final,7000,CASH,FABIAN
0,1521,2023-01-03,2023-01-03 11:13:43,ADAPTADOR 12V 2A,12000,4,48000,Consumidor final,48000,CASH,FABIAN

In [34]:


 if nombre_archivo in archivos_en_carpeta:
     df10 = pd.read_csv('facturas.csv')
     df10 = pd.concat([df10,df9])
     df10.to_csv("facturas.csv", index=False)
 else:
     df9.to_csv("facturas.csv", index=False)

In [35]:
df9.head()

,id,fecha,hora,nombre,precio,cantidad,total,cliente,totalfact,metodo,vendedor
0,1517,2023-01-03,2023-01-03 10:06:40,CABLE DE RED CAT6 5 MTS MTS-1042G-3,12000,1,12000,Consumidor final,12000,CASH,DANIELA
0,1518,2023-01-03,2023-01-03 10:07:36,MEMORIA USB 16 GB DG,25000,1,25000,Consumidor final,25000,CASH,DANIELA
0,1519,2023-01-03,2023-01-03 10:22:53,LECTOR CODIGO DE BARRAS,140000,1,140000,PROACTIVA ESPECIALIZADA S.A.S,140000,BANK_DEPOSIT,No se ha registrado un vendedor
0,1520,2023-01-03,2023-01-03 10:47:31,ADAPTADOR DE CARGA SENCILLO K-BLES,7000,1,7000,Consumidor final,7000,CASH,FABIAN
0,1521,2023-01-03,2023-01-03 11:13:43,ADAPTADOR 12V 2A,12000,4,48000,Consumidor final,48000,CASH,FABIAN

In [36]:
from sqlalchemy import types as sa_types

engine = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/prueba_crm")

# Mapeo de tipos de columna
dtype_mapping = {
    'id': sa_types.INTEGER(),
    'fecha': sa_types.DATE(),
    'hora': sa_types.TIME(),
    'nombre': sa_types.String(length = 100),
    'precio': sa_types.FLOAT(),
    'cantidad': sa_types.INTEGER(),
    'total': sa_types.INTEGER(),
    'cliente': sa_types.String(length = 100),
    'totalfact': sa_types.FLOAT(),
    'metodo': sa_types.String(length = 100),
    'vendedor': sa_types.String(length = 100)
    # Añade el resto de columnas según corresponda
}

# Insertar especificando tipos
df9.to_sql(
    "facturas",
    engine,
    if_exists="append",
    index=False,
    dtype=dtype_mapping

)

NameError: name 'create_engine' is not defined

In [114]:
# Consulta básica
query = "SELECT * FROM facturas WHERE indx = 73"
df = pd.read_sql(query, engine)
print(df.head())

   indx       fecha                hora                         nombre
0    73  2025-04-13 2025-04-13 18:27:07  REPETIDOR TP-LINK AC750 RE202  \

   precio  cantidad  total           cliente  totalfact metodo vendedor     id
0   99000         1  99000  Consumidor final      99000   CASH  DANIELA  26376