In [1]:
import requests
import pandas as pd
import datetime
import os

ruta_carpeta = 'D:\Desktop\python\proyecto-alegra'
nombre_archivo = 'facturas.csv'
archivos_en_carpeta = os.listdir(ruta_carpeta)


if nombre_archivo in archivos_en_carpeta:
    df2 = pd.read_csv('facturas.csv')
    inicio = df2.iloc[-1]['id']
else:
    ##en esta celda se pide se ingrese una fecha desde la que se quiere tener las facturas
    
    fecha_inicial = input("ingrese la fecha desde la que quiere las facturas en formato yyyy-mm-dd ")
    url = f"https://api.alegra.com/api/v1/invoices?order_direction=ASC&date_afterOrNow={fecha_inicial}"

    headers = {
        "accept": "application/json",
        "authorization": "Basic bmFub3Ryb25pY3NhbHNvbmRlbGF0ZWNub2xvZ2lhQGdtYWlsLmNvbTphMmM4OTA3YjE1M2VmYTc0ODE5ZA=="
    }

    response = requests.get(url, headers=headers)
    df2 = pd.DataFrame.from_dict(response.json())
    inicio = df2.iloc[0]['id']

In [2]:

##en df2 ya tenemos cargada la primera factura de esa fecha que se encuentra en la variable inicio




current_date = datetime.date.today()

# Calculate the date of yesterday
yesterday = current_date - datetime.timedelta(days=3)

url2 = f"https://api.alegra.com/api/v1/invoices?date_afterOrNow={yesterday}"

headers2 = {
    "accept": "application/json",
    "authorization": "Basic bmFub3Ryb25pY3NhbHNvbmRlbGF0ZWNub2xvZ2lhQGdtYWlsLmNvbTphMmM4OTA3YjE1M2VmYTc0ODE5ZA=="
}

response2 = requests.get(url2, headers=headers2)
df4 = pd.DataFrame.from_dict(response2.json())
##y aqui en la variable "final" esta la identificacion de ultima factura del día de ayer

final = df4.iloc[0]['id']

In [3]:
df6 = df4.head(0)
for i in range(int(inicio), int(final),30):
  

  url = f"https://api.alegra.com/api/v1/invoices?start={i}&order_direction=ASC&order_field=id"

  headers = {
      "accept": "application/json",
      "authorization": "Basic bmFub3Ryb25pY3NhbHNvbmRlbGF0ZWNub2xvZ2lhQGdtYWlsLmNvbTphMmM4OTA3YjE1M2VmYTc0ODE5ZA=="
  }

  response = requests.get(url, headers=headers)
  if response.text:
    df7 = pd.DataFrame.from_dict(response.json())   
    df6 = pd.concat([df6,df7])

In [4]:
df7 = df6.drop(columns=['observations','payments','subtotal','barCodeContent','total','numberTemplate','dueDate','stamp','warehouse','term','anotation','termsConditions','status','priceList','costCenter','paymentForm','type','discount','tax','balance','decimalPrecision','operationType','printingTemplate'])

In [5]:
def editar_factura(row):
    row['client'] = row['client']['name']
    if row['seller'] != None:
        row['seller'] = row['seller']['name']
    else:
        row['seller'] = 'No se ha registrado un vendedor'
    
    return row

    
df7=df7.apply(editar_factura, axis=1)
df7.head()

,id,date,datetime,client,totalPaid,paymentMethod,seller,items,retentions
0,19241,2024-09-09,2024-09-09 09:51:12,Consumidor final,12000,CASH,JUAN PABLO,[{'name': 'CABLE LIGHTING TIPO C 1HORA CAB258'...,NaN
1,19242,2024-09-09,2024-09-09 10:33:34,Consumidor final,50000,CASH,JUAN PABLO,"[{'name': 'TONER CF283X/337', 'description': N...",NaN
2,19243,2024-09-09,2024-09-09 10:55:43,Consumidor final,19000,CASH,No se ha registrado un vendedor,"[{'name': 'ANTENA TDT NIA T602-5M', 'descripti...",NaN
3,19244,2024-09-09,2024-09-09 10:56:38,EXPRESS FARM S.A.S.,215000,DEBIT_TRANSFER,No se ha registrado un vendedor,"[{'name': 'UPS INTERACTIVA 850 LED/600 VA', 'd...",NaN
4,19245,2024-09-09,2024-09-09 11:01:51,Consumidor final,39000,CASH,SOFIA,"[{'name': 'FUNDA CORREA OXFORD ROSA 14"" JALTEC...",NaN

pendientes:
implementar los diccionarios como parte del dataframe

In [6]:
def eliminar_diccionario(row):
    for i in row['items']:
        del i['description']
        del i['discount']
        del i['productKey']
        del i['unit']
        del i['tax']
        del i['reference']
        del i['id']
    return row

df7=df7.apply(eliminar_diccionario, axis=1)
df7.head()

,id,date,datetime,client,totalPaid,paymentMethod,seller,items,retentions
0,19241,2024-09-09,2024-09-09 09:51:12,Consumidor final,12000,CASH,JUAN PABLO,[{'name': 'CABLE LIGHTING TIPO C 1HORA CAB258'...,NaN
1,19242,2024-09-09,2024-09-09 10:33:34,Consumidor final,50000,CASH,JUAN PABLO,"[{'name': 'TONER CF283X/337', 'price': 36000, ...",NaN
2,19243,2024-09-09,2024-09-09 10:55:43,Consumidor final,19000,CASH,No se ha registrado un vendedor,"[{'name': 'ANTENA TDT NIA T602-5M', 'price': 1...",NaN
3,19244,2024-09-09,2024-09-09 10:56:38,EXPRESS FARM S.A.S.,215000,DEBIT_TRANSFER,No se ha registrado un vendedor,"[{'name': 'UPS INTERACTIVA 850 LED/600 VA', 'p...",NaN
4,19245,2024-09-09,2024-09-09 11:01:51,Consumidor final,39000,CASH,SOFIA,"[{'name': 'FUNDA CORREA OXFORD ROSA 14"" JALTEC...",NaN

In [7]:
columnas = ['id', 'fecha','hora','nombre','precio','cantidad','total','cliente', 'totalFact','metodo','vendedor']
df9 = pd.DataFrame(columns=columnas)

for index, row in df7.iterrows():   
    for i in range(len(row['items'])):
        nueva_fila = {'id':row['id'],'fecha':row['date'],'hora':row['datetime']
                      ,'nombre':row['items'][i]['name'],'precio':row['items'][i]['price'],
                      'cantidad':row['items'][i]['quantity'],'total':row['items'][i]['total'],
                      'cliente':row['client'],'totalFact':row['totalPaid'],'metodo':row['paymentMethod'],'vendedor':row['seller']                      
                      } 
        a  = pd.DataFrame(nueva_fila,index=[0])
    
    # Añadir la fila transformada al DataFrame de destino
        df9 = pd.concat([df9,a])

In [8]:
df9

,id,fecha,hora,nombre,precio,cantidad,total,cliente,totalFact,metodo,vendedor
0,19241,2024-09-09,2024-09-09 09:51:12,CABLE LIGHTING TIPO C 1HORA CAB258,12000,1,12000,Consumidor final,12000,CASH,JUAN PABLO
0,19242,2024-09-09,2024-09-09 10:33:34,TONER CF283X/337,36000,1,36000,Consumidor final,50000,CASH,JUAN PABLO
0,19242,2024-09-09,2024-09-09 10:33:34,TINTA GENERICA EPSON 544 N,14000,1,14000,Consumidor final,50000,CASH,JUAN PABLO
0,19243,2024-09-09,2024-09-09 10:55:43,ANTENA TDT NIA T602-5M,19000,1,19000,Consumidor final,19000,CASH,No se ha registrado un vendedor
0,19244,2024-09-09,2024-09-09 10:56:38,UPS INTERACTIVA 850 LED/600 VA,215000,1,215000,EXPRESS FARM S.A.S.,215000,DEBIT_TRANSFER,No se ha registrado un vendedor
...,...,...,...,...,...,...,...,...,...,...,...
0,20808,2024-10-30,2024-10-30 17:07:15,EXTENSION ELECTRICA TITANIUM 25FT (7.6 MTS),14000,1,14000,Consumidor final,14000,CASH,DANIEL
0,20809,2024-10-30,2024-10-30 19:01:18,RADIO SONY ICF-19,199000,1,199000,Consumidor final,199000,CASH,DANIEL
0,20810,2024-10-30,2024-10-30 19:21:23,CABLE ADAPTADOR 3.5MM A MIC Y AUDIO B528,8000,1,8000,Consumidor final,8000,CASH,JUAN PABLO
0,20811,2024-10-30,2024-10-30 19:39:57,GAME STICK M8,114450,1,114450,SISTECREDITO COLOMBIA,0,NaN,No se ha registrado un vendedor
0,20812,2024-10-30,2024-10-30 20:01:49,SISTEPAGOS,26500,1,26500,Consumidor final,26500,CASH,JUAN PABLO

In [9]:


if nombre_archivo in archivos_en_carpeta:
    df10 = pd.read_csv('facturas.csv')
    df10 = pd.concat([df10,df9])
    df10.to_csv("facturas.csv", index=False)
else:
    df9.to_csv("facturas.csv", index=False)

In [10]:
df10.head()

,Unnamed: 0,id,fecha,hora,nombre,precio,cantidad,total,cliente,totalFact,metodo,vendedor
0,0.0,1517,2023-01-03,2023-01-03 10:06:40,CABLE DE RED CAT6 5 MTS MTS-1042G-3,12000,1,12000,Consumidor final,12000,CASH,ALVARO
1,0.0,1518,2023-01-03,2023-01-03 10:07:36,MEMORIA USB 16 GB DG,25000,1,25000,Consumidor final,25000,CASH,ALVARO
2,0.0,1519,2023-01-03,2023-01-03 10:22:53,LECTOR CODIGO DE BARRAS,140000,1,140000,PROACTIVA ESPECIALIZADA S.A.S,140000,BANK_DEPOSIT,No se ha registrado un vendedor
3,0.0,1520,2023-01-03,2023-01-03 10:47:31,ADAPTADOR DE CARGA SENCILLO K-BLES,7000,1,7000,Consumidor final,7000,CASH,FABIAN
4,0.0,1521,2023-01-03,2023-01-03 11:13:43,ADAPTADOR 12V 2A,12000,4,48000,Consumidor final,48000,CASH,FABIAN