In [1]:
import pandas as pd
import requests 

#extrae la metadata de los items

url3 = "https://api.alegra.com/api/v1/items?metadata=true"

headers3= {
    "accept": "application/json",
    "authorization": "Basic bmFub3Ryb25pY3NhbHNvbmRlbGF0ZWNub2xvZ2lhQGdtYWlsLmNvbTphMmM4OTA3YjE1M2VmYTc0ODE5ZA=="
}

response3 = requests.get(url3, headers=headers3)

#para saber cuantos items hay en total
total_items = response3.json()["metadata"]["total"]

In [2]:
import os

ruta_carpeta = 'D:\Desktop\python\proyecto-alegra'
nombre_archivo = 'items_csv'
archivos_en_carpeta = os.listdir(ruta_carpeta)
#para saber cuantos items hay en total
total_items = response3.json()["metadata"]["total"]

if nombre_archivo in archivos_en_carpeta:
    df2 = pd.read_csv('items.csv',index_col=0)
    inicio = int(df2.iloc[-1]['id'])
    

else:
    #extraemos los primeros 30 items
    url4 = f"https://api.alegra.com/api/v1/items?start={0}&order_field=id"

    headers4 = {
        "accept": "application/json",
        "authorization": "Basic bmFub3Ryb25pY3NhbHNvbmRlbGF0ZWNub2xvZ2lhQGdtYWlsLmNvbTphMmM4OTA3YjE1M2VmYTc0ODE5ZA=="
    }

    response4 = requests.get(url4, headers=headers4)
    df2 = pd.DataFrame.from_dict(response4.json())
    inicio = 0
    df4 = df2.head(0)

In [3]:
df4 = pd.DataFrame()
#extraemos y concatenemos con df2
for i in range(inicio,total_items,30):
    
    url4 = f"https://api.alegra.com/api/v1/items?start={i}&order_field=id"

    headers4 = {
        "accept": "application/json",
        "authorization": "Basic bmFub3Ryb25pY3NhbHNvbmRlbGF0ZWNub2xvZ2lhQGdtYWlsLmNvbTphMmM4OTA3YjE1M2VmYTc0ODE5ZA=="
    }

    response4 = requests.get(url4, headers=headers4)
    df6 = pd.DataFrame.from_dict(response4.json())
    if df4.empty:
        df4 = df6.head(0)

    if not df6.empty:
        df4 = pd.concat([df4,df6])

In [4]:

df5 = df4[["name"]].copy()

In [5]:
promedios = pd.read_csv('facturas_proveedor.csv',index_col= 0)

In [6]:
def obtener_moda(series):
    return series.mode()[0]

In [7]:
basica = promedios.groupby('nombre').agg(cantidad = ('cantidad','sum'), total = ('total','sum'), proveedor = ('proveedor',obtener_moda),fecha_ult_compra = ('fecha','max')).reset_index()

In [8]:
basica['promedio'] = basica['total']/basica['cantidad']

In [9]:
basica['promedio'] = basica['promedio'].apply(lambda x: int(x))

In [10]:
# Supongamos que 'basica' es el DataFrame que contiene 'fecha_ult_compra'
merged_df = pd.merge(promedios, basica[['nombre', 'fecha_ult_compra']], on='nombre', how='inner')

# Filtrar el DataFrame para obtener las filas donde la fecha es igual a fecha_ult_compra
filtered_df = merged_df[merged_df['fecha'] == merged_df['fecha_ult_compra']]

# Seleccionar las columnas de inter√©s, por ejemplo, 'nombre' y 'precio'
result = filtered_df[['nombre', 'total','cantidad']]

In [11]:
filtered_df[filtered_df['nombre']=='REPUESTO CONSOLA']

,Unnamed: 0,id,fecha,nombre,cantidad,precio,total,totalFact,proveedor,fecha_ult_compra
2001,0.0,1158,2023-08-18,REPUESTO CONSOLA,1,205000,205000.0,365000,SADID CONSOLAS,2023-08-18
2002,0.0,1158,2023-08-18,REPUESTO CONSOLA,1,130000,130000.0,365000,SADID CONSOLAS,2023-08-18
2003,0.0,1158,2023-08-18,REPUESTO CONSOLA,1,30000,30000.0,365000,SADID CONSOLAS,2023-08-18

In [12]:

result['total'] = result['total']/result['cantidad']

result['total'] = result['total'].apply(lambda x: int(x))

C:\Users\Admin\AppData\Local\Temp\ipykernel_1880\1592604207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['total'] = result['total']/result['cantidad']
C:\Users\Admin\AppData\Local\Temp\ipykernel_1880\1592604207.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['total'] = result['total'].apply(lambda x: int(x))

In [13]:

result = result.rename(columns={'total': 'precio_ult_compra'})

In [14]:
result = result[['nombre','precio_ult_compra']]
result = result.groupby('nombre').agg(precio_ult_compra = ('precio_ult_compra','max')).reset_index()

In [15]:
def cantidad1(row):
      if len(row) == 1:
            return None
      else:
            return row["availableQuantity"]
      

##def proveedor1(row):
      for i in row:
            if i["id"] == '7':
                  row = i["value"]
                  return row      
      else:
            return None
      

def fecha(row):
      if len(row) == 1:
            return None
      else:
            return row["initialQuantityDate"]

In [16]:
df5["cantidad"] = df4["inventory"].apply(cantidad1)

In [17]:
df5["familia"] = df4["customFields"].apply(lambda x: x[1]["value"])

In [18]:
##df3["proveedor"] = df2["customFields"].apply(proveedor1)

In [19]:
df5["fecha-inicial"] = df4["inventory"].apply(fecha)

In [20]:
df5 = df5.rename(columns={'name': 'nombre'})

In [21]:
df5 = pd.merge(df5,basica, on = 'nombre', how = 'inner')

In [22]:
df5 = df5.drop(columns=['cantidad_y','total'])

In [23]:
data = {'nombre': ['SERVICIO TECNICO', 'SERVICIO TECNICO CONSOLA', 'SERVICIO TECNICO IMPRESORA'],
        'cantidad_x': [0.0,0.0,0.0],
        'familia': ['SERVICIOS','SERVICIOS','SERVICIOS'],
        'proveedor': ['NANO','NANO','NANO'],
        'fecha-inicial': ['2023-01-02','2023-01-02','2023-01-02'],
        'promedio': [0.0,0.0,0.0]
        }
df7 = pd.DataFrame(data)

In [24]:
df5 = pd.merge(df5,result, on = 'nombre',how = 'inner')

In [25]:
if df2.empty:
    df5.concat([df2,df5])

In [26]:
df5.to_csv("items.csv", index=False)

In [27]:
df5

,nombre,cantidad_x,familia,fecha-inicial,proveedor,fecha_ult_compra,promedio,precio_ult_compra
0,CABLE TREBOL,-7.0,CABLES,2022-11-13,UNITEC USA,2023-02-25,3663,3663
1,COMBO GAMER GM054 TECHMADE,2.0,GAMING,2022-11-07,J&R- NANICA,2022-11-12,103900,103900
2,MULTITOMA 6 PUERTOS GLOBY,6.0,ENERGIA,2022-11-07,ANDRES,2024-09-19,7390,6721
3,DIADEMA GAMER GT5000D,0.0,SONIDO,2022-11-07,JALTECH S.A.S,2022-12-02,47405,47405
4,DIADEMA GT7VD,0.0,SONIDO,2022-11-07,JALTECH S.A.S,2022-12-02,66405,66405
...,...,...,...,...,...,...,...,...
2532,MICROFONO INALAMBRICO TX F9 IPHONE SET X2,1.0,SONIDO,2024-10-28,JALTECH,2024-10-28,53847,53847
2533,MICROFONO INALAMBRICO TX F15-2,1.0,SONIDO,2024-10-28,JALTECH,2024-10-28,65007,65007
2534,MICROFONO INALAMBRICO TX F15,1.0,SONIDO,2024-10-28,JALTECH,2024-10-28,51987,51987
2535,TORRE JANUS BLANCA RYZEN 5 4600G + 8GB 8 512 SSD,0.0,COMPUTADORES,2024-10-28,JANUS MEDELLIN,2024-10-30,1000000,1000000
2536,REDMI NOTE 13 PRO 4G 256/8 GB NEGRO,0.0,CELULARES Y TABLETS,2024-10-29,FOTO Y VIDEO,2024-10-29,770000,770000